body {
	background: url("../imgs/spacebackground.png");
}

* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar {
	background: black;
	font-family: calibri;
	padding: 0px 100px;
	line-height: 75px;
	width: 100%;
	height: 75px;
	position: fixed;
}

.navdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


li {
	list-style: none;
	display: inline-block;
}

li a {
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-right: 25px;
}

button {
	background-color: white;
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 90px;
}
h1 {
	text-align: center;
	color: white;
	font-size: 50px;
	white-space: nowrap;
}
.title {
    font-size: 10vh;
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
    margin-top: 30vh;
    margin-bottom: 5vh;
    transition: 0.35s ease;
    text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
 }
 
 .search-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .search-home {
    width: 50vw;
    height: 5vh;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
 }
 
